<!--               Joe J. Abuzaid                    --> 
<!--   UC Berkely Extension Data Analytics Bootcamp  -->
<!--              UCBSAN20181106DATA                 -->
<!--      Web Scrabing & Document Data Bases         -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <link rel="stylesheet" href="static/style.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron">
      <h1>Mission to Mars</h1>
      <p>
        <a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape new Mars Data</a>
      </p>

      <div class="sigline">
        <p>
          Joe J. abuzaid | University of California at Berkeley: Data Analytics & Visualization Bootcamp| March 2019
        </p>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h2>This is the latest Mars news from the website.</h2>
          <h4> {{ mars.mars_news_title}}</h4>
          <p> {{mars.summary}} </p>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8 big_box">
          <h2>Mars featured image</h2>
          <img src="{{mars.featured_image_url}}" height="350" width="700" alt="Mars featured image" />
        </div>

        <div class="col-md-4">
          <div class="row weather-box">
            <div class="col-md-12">
              <h3>Current weather on Mars</h3>
              <p>
                {{mars.mars_weather}}
              </p>
            </div>
          </div>

          <div class="col-md-12">
            <h3>Mars facts</h3>
            {{mars.mars_facts | safe}}
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
        {% for hemisphere in mars.mars_hemi %}
            <div class="card col-md-6" style="width: 18rem;">
                <img src={{hemisphere.image}} class="card-img-top" height="175" width="175" alt="...">
                <div class="card-body">
                  <h6 class="card-title">{{ hemisphere.title}}</h6>
                </div>
            </div>
        {% endfor %}  

      </div>
    </div>
  </div>
  </div>
  </div>

  </div>


  <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous">
    </script>

</body>

</html>